abiword=
alacritty=
arandr=
atom=
audacity=
blueman-manager=
brasero=
burp-startburp=
chromium=
code - insiders=
code-oss=
code=
cura=
cutter=
designer-qt4=
evience=
evince=
evolution=
factorio=
firefox=
firefoxdeveloperedition=
gajim=
gimp=
gimp=
gitk=
gitkraken=
google-chrome=
hopper=
inkscape=
jdownloader=
jetbrains-pycharm=
keepassx2=
kicad=
kitty=
krita=
librecad=
libreoffice-calc=
libreoffice-writer=
libreoffice=
lxappearance=
mellowplayer=
minecraft 1.11.2=
mumble=
mysql-workbench-bin=
nautilus=
navigator=
net-minecraft-bootstrap-bootstrap=
nm-connection-editor=
openscad=
pantheon-music=
pavucontrol=
processing-app-base=
qtcreator=
dolphin=
quassel=
rhythmbox=
riot=
rocket.chat=
seahorse=
simple-scan=
slic3r=
spotify=
steam=
subl3=
sublime_merge=
sublime_text=
sun-awt-x11-xframepeer=
systemsettings=
telegramdesktop=
termite=
texstudio=
thunar=
thunderbird=
virt-manager=
virtualbox machine=
virtualbox manager=
virtualbox=
vlc=
wireshark-gtk=
wireshark-gtk=
xfce4-terminal=
xterm=
zim=
zotero=
